/* Colors */
@ta-green: #589442;

/* Mixins */
// Flexbox display
// flex or inline-flex
.flex-display(@display: flex) {
  display: ~"-webkit-@{display}";
  display: ~"-moz-@{display}";
  display: ~"-ms-@{display}box"; // IE10 uses -ms-flexbox
  display: ~"-ms-@{display}"; // IE11
  display: @display;
}
 
// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
.flex-direction(@direction: row) {
  -webkit-flex-direction: @direction;
     -moz-flex-direction: @direction;
      -ms-flex-direction: @direction;
          flex-direction: @direction;
}
 
// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
.flex-wrap(@wrap: nowrap) {
  -webkit-flex-wrap: @wrap;
     -moz-flex-wrap: @wrap;
      -ms-flex-wrap: @wrap;
          flex-wrap: @wrap;
}
 
// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around 
.justify-content(@justify: flex-start) {
  -webkit-justify-content: @justify;
     -moz-justify-content: @justify;
      -ms-justify-content: @justify;
          justify-content: @justify;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch
.align-content(@align: stretch) {
  -webkit-align-content: @align;
  -moz-align-content: @align;
  -ms-align-content: @align;
  align-content: @align;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch
.align-items(@align: stretch) {
  -webkit-align-items: @align;
  -moz-align-items: @align;
  -ms-align-items: @align;
  align-items: @align;
}

.border-radius (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius:    @radius;
  border-radius:         @radius;

  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}

/* Rules */
body.main {
  font-family: Verdana, sans-serif;
  margin: auto;
  .container-fluid {
    padding: 0;
  }
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

#MAIN {
  padding: 5px 0;
  background: url("../images/symphony.png") repeat;

  .ganesha {
    text-align: center;
  }
  .hero {
    margin-bottom: 10px;
    margin-top: -110px;
    .hero-title {
      font-family: 'Dancing Script', cursive;
      text-align: center;
      font-size: 100px;
    }
    .hero-subtitle {
      font-family: 'Open Sans Condensed', sans-serif;
      text-align: center;
      font-size: 50px;
      margin-top: -10px;
    }
  }
  .invitation {
    text-align: center;
    .flex-display();
    .flex-wrap(wrap);
    .justify-content(center);

    .raviyadu-img-container {
      width: 600px;
      margin-right: 15px;
      img {
        .border-radius(20px);
      }
    }

    .title {
      color: @ta-green;
    }

    .events-info {
      width: 600px;
      font-size: 20px;
      border: 2px solid #C0C0C0;
      .border-radius(20px);
      padding: 25px;
      .flex-display();
      .flex-direction(column);
      .align-items(center);
      .align-content();
      .justify-content(center);

      .person {
        font-family: 'Noto Serif', sans-serif;
        font-size: 30px;
      }

      .separator {
        margin-bottom: 25px;
      }

      .weds {
        margin: 10px 0;
      }

      .parents, .at {
        font-size: 18px;
      }

      .event {
        .title {
          font-size: 20px;
          font-weight: bold;
        }
        .details {
          font-size: 18px;
        }
      }
      .venue-address {
        text-align: center;
        display: block;
      }

      .events {
        margin-top: 20px;
        width: 550px;
      }

      .events-row {
        margin-bottom: 25px;
        .flex-display();
        .justify-content(space-between);
        .event {
          text-align: center;
        }
      }
    }
  }
}

.countdown-container {
  font-size: 25px;
  padding: 5px;
  font-style: italic;
  .flex-display();
  .flex-wrap(wrap);
  .flex-direction();
  .justify-content(center);
  text-align: center;

  .countdown-timer-text {
    margin-right: 5px;
  }
}

// Media query fixes
/* Phones */
@media only screen and (min-width : 320px) and (max-device-width: 500px){
  #MAIN {
    .hero {
      margin-top: -85px;
      .hero-title {
        font-size: 60px;
      }
      .hero-subtitle {
        font-size: 30px;
        margin-top: 0px;
      }
    }
    .countdown-container {
      font-size: 18px;
    }
    .invitation {
      .raviyadu-img-container {
        width: 300px;
        margin-right: 0px;
        img {
          width: 300px;
          margin-bottom: 10px;
        }
      }
      .events-info {
        font-size: 18px;
        margin: 10px;
        width: 300px;
        .events {
          width: 300px;
        }
        .person,.venue-title,.venue-address {
          font-size: 20px;
        }
        .events-row {
          .flex-wrap(wrap);
          .flex-direction(column);
          .justify-content(center);
          .event {
            margin-bottom: 2px;
          }
        }
      }
    }
  }
}

/* Small Devices, Tablets, Low Resolutions */
@media only screen and (min-width : 768px) and (max-device-width: 1279px) {
  #MAIN {
    .hero {
      margin-top: -85px;
      .hero-title {
        font-size: 60px;
      }
      .hero-subtitle {
        font-size: 30px;
        margin-top: 0px;
      }
    }
    .countdown-container {
      font-size: 18px;
    }
    .invitation {
      .raviyadu-img-container {
        width: 500px;
        margin-right: 0px;
        img {
          width: 500px;
          margin-bottom: 10px;
        }
      }
      .events-info {
        font-size: 20px;
        margin: 10px;
        width: 500px;
        .events {
          width: 500px;
        }

        .events-row {
          .flex-wrap(wrap);
          .flex-direction(column);
          .justify-content(center);
          .event {
            margin-bottom: 2px;
          }
        }
      }
    }
  }
}
