/* Colors */
/* Mixins */
/* Rules */
body.main {
  font-family: Verdana, sans-serif;
  margin: auto;
}
body.main .container-fluid {
  padding: 0;
}
h2 {
  font-size: 30px;
  font-weight: bold;
}
#MAIN {
  padding: 5px 0;
  background: url("../images/symphony.png") repeat;
}
#MAIN .ganesha {
  text-align: center;
}
#MAIN .hero {
  margin-bottom: 10px;
  margin-top: -110px;
}
#MAIN .hero .hero-title {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 100px;
}
#MAIN .hero .hero-subtitle {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  font-size: 50px;
  margin-top: -10px;
}
#MAIN .invitation {
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
#MAIN .invitation .raviyadu-img-container {
  width: 600px;
  margin-right: 15px;
}
#MAIN .invitation .raviyadu-img-container img {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#MAIN .invitation .title {
  color: #589442;
}
#MAIN .invitation .events-info {
  width: 600px;
  font-size: 20px;
  border: 1px solid #C0C0C0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 25px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-content: stretch;
  -moz-align-content: stretch;
  -ms-align-content: stretch;
  align-content: stretch;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
#MAIN .invitation .events-info .person {
  font-family: 'Noto Serif', sans-serif;
  font-size: 30px;
}
#MAIN .invitation .events-info .separator {
  margin-bottom: 25px;
}
#MAIN .invitation .events-info .parents,
#MAIN .invitation .events-info .at {
  font-size: 18px;
}
#MAIN .invitation .events-info .event .title {
  font-size: 20px;
  font-weight: bold;
}
#MAIN .invitation .events-info .event .details {
  font-size: 18px;
}
#MAIN .invitation .events-info .venue-address {
  text-align: center;
  display: block;
}
#MAIN .invitation .events-info .events {
  margin-top: 20px;
  width: 550px;
}
#MAIN .invitation .events-info .events-row {
  margin-bottom: 25px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
#MAIN .invitation .events-info .events-row .event {
  text-align: center;
}
.countdown-container {
  font-size: 25px;
  padding: 5px;
  font-style: italic;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  text-align: center;
}
.countdown-container .countdown-timer-text {
  margin-right: 5px;
}
/* Phones */
@media only screen and (min-width: 320px) and (max-device-width: 500px) {
  #MAIN .hero {
    margin-top: -90px;
  }
  #MAIN .hero .hero-title {
    font-size: 60px;
  }
  #MAIN .hero .hero-subtitle {
    font-size: 30px;
    margin-top: 0px;
  }
  #MAIN .invitation .raviyadu-img-container {
    width: 300px;
    margin-right: 0px;
  }
  #MAIN .invitation .raviyadu-img-container img {
    width: 300px;
    margin-bottom: 10px;
  }
  #MAIN .invitation .events-info {
    font-size: 18px;
    margin: 10px;
    width: 300px;
  }
  #MAIN .invitation .events-info .person,
  #MAIN .invitation .events-info .venue-title,
  #MAIN .invitation .events-info .venue-address {
    font-size: 20px;
  }
  #MAIN .invitation .events-info .events-row {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
  }
  #MAIN .invitation .events-info .events-row .event {
    margin-bottom: 2px;
  }
}
/* Small Devices, Tablets, Low Resolutions */
@media only screen and (min-width: 768px) and (max-device-width: 1279px) {
  #MAIN .hero .hero-title {
    font-size: 60px;
  }
  #MAIN .hero .hero-subtitle {
    font-size: 30px;
    margin-top: 0px;
  }
  #MAIN .invitation .raviyadu-img-container {
    width: 500px;
    margin-right: 0px;
  }
  #MAIN .invitation .raviyadu-img-container img {
    width: 500px;
    margin-bottom: 10px;
  }
  #MAIN .invitation .events-info {
    font-size: 20px;
    margin: 10px;
    width: 500px;
  }
  #MAIN .invitation .events-info .events-row {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
  }
  #MAIN .invitation .events-info .events-row .event {
    margin-bottom: 2px;
  }
}
